:root {
  font-family: monospace;
  line-height: 1.5;
  font-weight: 400;

  color: #000000;
  background-color: #546e46;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.topbar {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
  display: flex;
  background: #da8540;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}

/* vasakul sisu, paremal statistika */
.layout {
  display: grid;
  background: #da8540;
  grid-template-columns: minmax(0, 2fr) minmax(260px, 2fr); /* vasak 2x, parem 1x */
  gap: 1rem;
  align-items: start;
  max-width: 1200px;
  margin: 0 auto 3rem auto;
  padding: 15px;
  border-radius: 8px;
}

/* sektsioonid */
.card {
  padding: 1rem;
  padding-top:2px;
  border: 1px solid #773418;
  border-radius: 8px;
  background: #fecc81;
}

.card th {
  border-bottom:1px solid #416541;
}

#date, #kestus, #t체체p{
  border:none;
  outline:none;
  display:inline-block;
  height:28px;
  vertical-align:middle;
  text-align: left;
  position:relative;
  border-radius:22px;
  box-sizing:border-box;
  background-color: #789c64;
}

#kestus {
  text-align: right;
}

/* kaartide vahel v채ike vahe */
.left .card + .card, .right .card + .card  {
  margin-top: 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid #233826;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color:white;
  background-color: #426348;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #ea6720;
  border-color: #c74600;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* kitsal ekraanil 체ks veerg, statistika all */
@media (max-width: 900px) {
  .layout { grid-template-columns: 1fr; }
  .right { order: 1; }
}
